.arte-header {
    text-align: center;
    padding: 20px 0;
  }
  
  .arte-title {
    font-size: 2.5em;
    color: #cf275a; /* Cor inspirada em tons tradicionais japoneses */
  }
  
  .arte-subtitle {
    font-size: 1.2em;
    color: #290e02;
    margin-top: 10px;
  }
  
  /* Seções */
  .arte-section {
    margin: 30px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px; /* Cantos arredondados */
    box-shadow: 0 2px 8px rgb(170, 29, 135);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
  }

  .arte-section:hover {
    transform: translateY(-5px);
  }
  
  .arte-section-title {
    font-size: 1.8em;
    color: #cf275a;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .arte-section-text {
    font-size: 1em;
    margin-bottom: 15px;
    text-align: justify;
  }
  
  /* Links */
  .arte-link {
    display: inline-block;
    color: #1e90ff;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 15px;
    border-bottom: 2px solid #1e90ff;
    transition: color 0.3s, border-color 0.3s;
  }
  
  .arte-link:hover {
    color: #ff4500; /* Destaque ao passar o mouse */
    border-color: #ff4500;
  }
  
  /* Imagens */
  img {
    display: block;
    margin: 15px auto; /* Centraliza as imagens */
    border-radius: 8px; /* Cantos arredondados */
    max-width: 100%;
  }